<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;

    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .subhead {
        height: 44px;
        line-height: 44px;
        font-size: 19px;
        display: -webkit-box;
        background: #333;
    }
    .booklist a{
        clear: both;
        line-height: 38px;
        height: 38px;
        padding: 0 20px 0 8px;
        font-size: 14px;
        border-bottom: 1px solid #dfdfdf;
        color: #4c4c4c;
        display: block;
        margin: 0;
        background-size: 138px;
        background-position: right -50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<body>
<div class="subhead">
    <a href="/bookinfo/?id=<%= booklist[0]._doc.bookid%>">< 返回</a>
    <a href="">目录
        <span>(共有<%= booklist.length %>章)</span>
    </a>
    <a href="">书架</a>
</div>
<div class="booklist">
    <% for(i=0;i< 20;i++) { %>
    <a href="/read/?bookid=<%= booklist[i]._doc.bookid%>&id=<%= booklist[i]._doc.id%>"><%= booklist[i]._doc.title%></a>
    <% } %>
</div>
</body>
</html>